:root {
  --primiry-text-color: #212121;
  --title-text-color: #757575;
  --adress-footer-text: rgba(255, 255, 255, 0.6);
  --h1-text-color: #ffffff;
  --acent-color: #2196f3;
  --background-hero: #2f303a;
  --background-porfolio-botton: #f5f4fa;
}
html{
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--h1-text-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.title-h3 {
  color: var(--primiry-text-color);
}
h1, h2, h3, h4,h5,h6{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
button{
  border: 1px solid transparent;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет для h1 #FFFFFF */
/* acent #2196F3 */
/* адресс футера rgba(255, 255, 255, 0.6); */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Header */
.line-header{
  border-bottom: 1px solid #ECECEC;
}
/* logo */
.header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  color: var(--acent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-second {
  color: var(--primiry-text-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-right: 93px;
}
/* site-nav */
.nav-list {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.list-link{
  margin-right: 50px;
}
.list-link:last-child{
  margin-right: 0;
}
.nav-link {
  color: var(--primiry-text-color);

  display: block;

    padding-top: 32px;
    padding-bottom: 32px;
}
.current {
  color: var(--acent-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--acent-color);
}
/* contact-nav */
.nav-contact {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-contact li{
  margin-right: 50px;
}
.contact-link {
  color: var(--title-text-color);
}
.nav-contact li:last-child{
  margin-right: 0;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--acent-color);
}
/* Hero */
.hero {
    text-align: center;
    background-color: #2F303A;;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/heroimg.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    
}
.hero-captoin {
  color: var(--h1-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
  
}

.button-hero {
  font-family: inherit;
  cursor: pointer;
  background-color: var(--acent-color);
  color: var(--h1-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.06em;

  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}
/* hang-section */
.hang-list{
  display: flex;
  justify-content: center;
}
.main-hang-list{
  margin-left: 30px;
  max-width: 270px;
}
.main-hang-list:first-child{
  margin-left: 0;
}
.main-hang-list::before{
  display: block;
  content: "";
  height: 120px;
  background: #E5E5E5;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
}
.icon-antena::before{
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-space::before {
  background-image: url(../images/astronaut.svg);
}
.list-items {
  color: var(--primiry-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
  margin-top: 30px;
}
.items-text {
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* examples-section */
.examples {
  padding-top: 0;
}
.examples-title {
  color: var(--primiry-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
.examples-list{
  display: flex;
  justify-content: center;
}
.pic-list{
  margin-left: 30px;
}
.pic-list:first-child{
  margin-left: 0;
}

/* My team */
.team-title {
  color: var(--primiry-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
.team-list{
  display: flex;
  justify-content: center;
}
.worker{
  margin-left: 30px;
}
.worker:first-child{
  margin-left: 0;
}
.my-team{
  background-color: var(--background-porfolio-botton);
}
.team-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.worker-position {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}
.worker-title{ 
  padding-top: 30px;
  padding-bottom: 30px;
}
/* footer */
.footer {
  background-color: var(--background-hero);
  padding:60px 0;
}
.footer-list{
  margin-bottom: 9px;
}
.footer-list:last-child{
  margin-bottom: 0;
}

.icon {
  color: var(--acent-color);
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.icon-second {
  color: var(--h1-text-color);
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 20px;
  display: inline-block;
}
.address-block{
font-style: normal;
}
.address-map {
  color: var(--h1-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address-map:hover,
.address-map:focus {
  color: var(--acent-color);
}
.address-item {
  color: var(--adress-footer-text);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address-item:hover,
.address-item:focus {
  color: var(--acent-color);
}

/* portfolio */
/* button */
.button-filter {
  font-family: inherit;
  color: var(--primiry-text-color);
  background-color: var(--background-porfolio-botton);
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
  padding: 6px 22px;
}
.button-filter:hover,
.button-filter:focus {
  background-color: var(--acent-color);
  color: var(--h1-text-color);
}
.filter-list{
  display: flex;
  justify-content: center;
}
.button-list{
  margin-left: 8px;
}
.button-list:first-child{
  margin-left: 0;
}
/* services */
.list-services{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.services{
  margin-right: 30px;
  margin-bottom: 30px;
}
.services:nth-child(3n){
  margin-right: 0;
}
.services-title {
  color: var(--primiry-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.services-text {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.services-block{
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;

  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}

